.recipient-page {
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.border {
  border-bottom: 1px solid #dedede;
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
  height: 10px;
}

.button {
  flex: 1;
  color: #808080;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  color: #54c6c1;
}

.button :active {
  color: #a8f0ec;
}
